# Build folders
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/*.cmake.user
/*.cbp

# Executables
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Object files
*.o
*.obj
*.a
*.lib

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db